{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "1.0.x"}}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
  {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", {branch, "master"}}},
  {jiffy, ".*", {git, "git@github.com:davisp/jiffy.git", {branch, "master"}}}
]}.

{erlydtl_opts, [
  {compiler_options, [debug_info]},
  [
    {doc_root, "tpl"},
    {source_ext, ".dtl"},
    {module_ext, "_tpl"}
  ]
]}.